@*    
@     SharpTrack: ASP.NET Bug Tracker and Support Portal
@     Copyright (C) 2019  Brett Bender & Max Arens
@
@     This program is free software: you can redistribute it and/or modify
@     it under the terms of the GNU Affero General Public License as published
@     by the Free Software Foundation, either version 3 of the License, or
@     (at your option) any later version.
@
@     This program is distributed in the hope that it will be useful,
@     but WITHOUT ANY WARRANTY; without even the implied warranty of
@     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
@     GNU Affero General Public License for more details.
@
@     You should have received a copy of the GNU Affero General Public License
@     along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Your Account</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
